.wrap {
  width: 100%;
  overflow: hidden;
}
.main {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
}
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
input,
textarea,
a {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.block {
  background: #FFDB4C;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.block-bg {
  background-color: #065A97;
  padding: 30px 0;
}
.block-bg-copyright {
  background-color: #003f6d;
  padding: 30px 0;
}
.line {
  border-top: 1px solid #e9eff3;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.header-wrap {
  width: 100%;
  overflow: hidden;
}
.header-main {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
}
.logo {
  float: left;
  margin-top: 25px;
}
.banner {
  float: right;
}
.menu-wrap {
  width: 100%;
  overflow: hidden;
  background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #f3f3f3), color-stop(1, #d7d7d7));
  background-image: -o-linear-gradient(top, #f3f3f3, #d7d7d7);
  background-image: -moz-linear-gradient(top, #f3f3f3, #d7d7d7);
  background-image: -webkit-linear-gradient(top, #f3f3f3, #d7d7d7);
  background-image: linear-gradient(to bottom, #f3f3f3, #d7d7d7);
  border-top: 1px solid #D7D7D7;
  margin-bottom: 30px;
}
.menu-main {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
}
.menu {
  float: left;
}
.menu__list {
  overflow: hidden;
}
.menu__item {
  float: left;
}
.menu__link {
  display: inline-block;
  font-size: 13px;
  color: #373737;
  line-height: 1;
  margin: 0 30px 0 0;
  padding: 10px 0 0 0;
}
.menu-icons {
  float: right;
  padding: 2px 0;
}
.menu-icons__img {
  margin-left: 10px;
}
.menu-icons__link:hover {
  text-decoration: none;
}
.content-wrap {
  width: 100%;
  overflow: hidden;
}
.content-main {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}
.content {
  width: 630px;
  float: left;
}
.content-block {
  overflow: hidden;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.content-block-last {
  border-bottom: 0;
}
.content-block__img {
  float: left;
  background-color: #F2F2F2;
  padding: 10px;
  margin: 0 20px 0 0;
}
.content-block__text {
  overflow: hidden;
  font-size: 13px;
  color: #373737;
  line-height: 1.4;
}
.content-block__span {
  font-size: 11px;
  color: #9E9E9E;
}
.content-block__admin {
  float: left;
}
.content-block__span-link {
  display: inline-block;
  margin-left: 5px;
  color: #EE6B32;
}
.content-block__comments {
  float: right;
}
.content-block__span-img {
  vertical-align: middle;
}
.content__title {
  font-size: 20px;
  color: #373737;
  font-weight: bold;
}
.sidebar {
  width: 300px;
  float: right;
}
.sidebar-widjet {
  margin-bottom: 25px;
  font-size: 13px;
  color: #535353;
  text-align: left;
  overflow: hidden;
}
.sidebar-widjet li {
  line-height: 2.308;
}
.sidebar-widjet a {
  color: #535353;
}
.sidebar-title {
  font-size: 20px;
  color: #01B2BF;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 7px solid #E5E5E5;
}
.search-main {
  overflow: hidden;
  border: 5px solid #E5E5E5;
  font-size: 12px;
  color: #535353;
  padding: 1px 0;
}
input {
  float: left;
}
.input-txt {
  border: none;
  width: 260px;
  padding: 5px 15px;
}
.ads-main {
  overflow: hidden;
  background-color: #F2F2F2;
  padding: 17px 0 0 0;
}
.ads-main li {
  float: left;
  margin: 0 0 17px 17px;
}
.sidebar-categories {
  width: 50%;
  float: left;
}
.latest-post {
  overflow: hidden;
  margin-bottom: 10px;
}
.latest-post img {
  border: 3px solid #E6E6E6;
  vertical-align: middle;
  margin-right: 15px;
}
.pager {
  margin: 0 auto;
  padding: 0 0 60px 0;
  font-size: 35px;
  color: #868686;
  font-weight: bold;
}
.pager a {
  display: inline-block;
  margin: 0 10px;
  color: #868686;
}
.pager a:hover {
  color: #D34104;
  text-decoration: none;
}
.pager-next {
  color: #D34104;
}
.footer-info-wrap {
  background-color: #EFEFEF;
  padding: 30px 0;
  width: 100%;
  overflow: hidden;
}
.footer-info-main {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
}
.footer-info {
  width: 30%;
  margin-right: 4%;
  float: left;
}
.footer-info:last-child {
  margin-right: 0;
  width: 31%;
  float: right;
}
.footer-info__title {
  font-size: 20px;
  color: #01B2BF;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.footer-info__text {
  font-size: 13px;
  color: #373737;
  line-height: 1.846;
  text-align: left;
  margin-bottom: 15px;
}
.footer-info__menu {
  font-size: 12px;
  color: #373737;
  line-height: 2;
  text-align: left;
}
.footer-info__menu a {
  color: #373737;
}
.footer-copy {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 12px;
  color: #373737;
  line-height: 2;
  text-align: left;
  padding: 20px 15px;
  background-color: #FFFFFF;
}
.footer-copy__text {
  float: left;
}
.footer-copy__text-right {
  width: 40%;
  overflow: hidden;
  float: right;
}
.footer-copy__span {
  float: left;
}
.footer-copy__span--right {
  float: right;
}
